@import"../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
.dark-mode {
  background-color: #333;
  color: #fff;
}
body{
  background-color: #8f8383;
}